
/* inner banner */
.inner-banner-w3ls {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    z-index: 1;
}

/* login */
.modal-body {
    max-width: 600px;
    margin: 0 auto;
}

label.col-form-label {
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 5px;
}

.modal-body .form-control {
    background: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border: none;
    padding: 10px 15px;
}

button.button-style-w3 {
    outline: none;
    padding: 12px 20px;
    font-size: 14px;
    color: #fff;
    background: #ff7f62;
    border: none;
    border-radius: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    width: 100%;
    margin-top: 1em;
}

.text-style-w3ls {
    letter-spacing: 1px;
    font-size: 15px;
}

p.dont-do a:hover,
.text-style-w3ls:hover {
    color: #fff;
}

/* //login */
